In [1]:
nama = "Yanto"
umur = 38
print(f"Nama : {nama} \nUmur : {umur}")

Nama : Yanto
Umur : 38

In [2]:
from math import pi

jari = 8
luas = pi *jari**2
keliling = 2*pi*jari
print(f"Luas Lingkaran : {luas} \nKeliling Lingkaran : {keliling}")

Luas Lingkaran : 201.06192982974676
Keliling Lingkaran : 50.26548245743669

In [3]:
angka = 129
teks = 'ini angka'
print(f"Tipe Data Angka : {type(angka)} \nTipe Data Teks : {type(teks)}")

Tipe Data Angka : <class 'int'>
Tipe Data Teks : <class 'str'>

In [4]:
nilai = 100
print(f'nilai kamu adalah {nilai} dan tipe datanya adalah {type(nilai)}')
nilai = float(nilai)
print(f'nilai kamu adalah {nilai} dan tipe datanya adalah {type(nilai)}')

nilai kamu adalah 100 dan tipe datanya adalah <class 'int'>
nilai kamu adalah 100.0 dan tipe datanya adalah <class 'float'>

In [5]:
a = "123"
print(f"Tipe Data a : {type(a)}")
a = int(a)
print(f"Tipe Data a : {type(a)}")

Tipe Data a : <class 'str'>
Tipe Data a : <class 'int'>

In [6]:
text = "ulang "
multiplied_text = text * 3
print(multiplied_text)

ulang ulang ulang

In [7]:
number = 7
if number % 2 == 0:
  print("Genap")
else:
  print("Ganjil")

Ganjil